@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

footer {
  border: black solid;
  margin-right: 7px;
  text-align: center;
  font-family: "Roboto Mono", monospace;

  h6 {
    display: inline-block;
  }

  a {
    margin: 5px;
    color: black;
  }

  a:hover {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 5px;
  }
}
